html{
    background-color: #bfc55f;
}
body {
    font-family: Arial, sans-serif;
    background-color: #bfc55f;
    margin: 0;
    padding: 0;
    color: #333;
}
.imggg,.imgpp{ width:3rem; border-radius:50%; display:inline-block;vertical-align:middle;}
.imgpp{ margin-left:-1rem }
.bg{ position:absolute; left:0; top:0; width:100%;height:100%; z-index:0;
    opacity:.1;
    background-image:url(./bg.jpg);
    background-position:center center;
    background-size:cover;
 }
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    padding-bottom:7rem;
    position:relative;z-index: 1;
}

h1 {
    text-align: left;
    cursor: pointer;
    color: #333;
    border-radius:1rem;
    margin-left:auto;
    margin-right:auto;
    color:#fff;
    display:block;
    font-size:1.8rem;
}

.search-form {
    position:relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
}

.search-form input {
    width: 100%;
    max-width: 400px;
    padding: .5rem 1rem;
    margin-bottom: 10px;
    border: 1px solid #333;
    border-radius: 4px;
    box-sizing: border-box;
    font-size:1rem;
    height:4rem;
}
.search-form input:focus + span,
.search-form input:active + span,
.search-form input:invalid + span{display:none}
.search-form input + span{
    width: 100%;
    padding: .5rem 1rem;
    margin-bottom: 10px;
    border: 1px solid #333;
    border-radius: 4px;
    box-sizing: border-box;
    font-size:1rem;
    height:4rem;
    position:absolute;
    left:0;
    right: 0;
    pointer-events: none;
}

.search-form button {
    padding: 10px 20px;
    border: none;
    background-color: #bfc55f;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    box-sizing: border-box;
    font-size:1.2rem;
    border:#fff .2rem solid;
    opacity:.85;
}

.search-form button:hover {
    background-color: #c0c56d;
}

.book-total, .search-result-total {
    color: #fff; vertical-align: middle;
}

.book-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.book-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s;
    cursor: pointer;
    position: relative;
    word-wrap: break-word;
    word-break: break-all;
    text-align: justify;
}

.book-card:hover {
    opacity: 0.92;
}

.book-card h2 {
    font-size: 1.4em;
    margin: 5px;
    margin-left:0;
    color: #333;
}

.book-card .book-details {
    display: none;
    margin-top: 10px;
}

.book-card .book-star {
    display: inline-block;
    margin-top: 5px;
}

.book-star svg {
    width: 16px;
    height: 16px;
    fill: #bfc55f;
}

.book-card.expanded .book-details {
    display: block;
}

.book-card.expanded ~ .book-card {
    .book-details {
        display: none;
    }
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #c0c56d;
    padding: 10px 0;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
    z-index: 10;
    padding:1rem 0 2rem;
}

.pagination button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    background-color: #c0c56d;
    color: #fff;
    border-radius: .6rem;
    cursor: pointer;
    font-size:1rem;
    border:#fff .2rem solid;
}

.pagination button:disabled {
    opacity:.5;
    cursor: not-allowed;
}

.pagination span {
    font-weight: bold;
    font-size:1.6rem;
    color: #fff;
}

/* 响应式设计 */
@media (max-width: 768px) {
    .search-form {
        flex-direction: column;
    }

    .search-form input, .search-form button {
        width: 100%;
        margin-bottom: 10px;
    }

    .book-cards {
        grid-template-columns: 1fr;
    }

    .book-card {
        padding: 10px;
        margin: 0;
        border-bottom: 1px dashed #ccc;
    }

    .book-card h2 {
        font-size: 1.3em;
    }
}